.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  background-color: white;
  color: red;
  padding: 14px 20px;
  margin: 8px 0;
  border-color: red;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: red;
  color: white;
}

.dynamicInputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
